extends layout

block content
    h1.mt-5 Sticky footer with fixed navbar
    p.lead
        | Pin a footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added with
    code.small padding-top: 60px;
        |  on the
    code.small main > .container
        | .
    p
        | Back to&nbsp;
        a(href='/docs/5.1/examples/sticky-footer/') the default sticky footer
        |  minus the navbar.
