doctype html
html.h-100(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title SocialApp
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    link(rel="stylesheet" href="/public/css/main.css")
    script(src="/js/jquery.min.js")
    script(src="/js/bootstrap.min.js")
  body.d-flex.flex-column.h-100
    include components/header

    main.flex-shrink-0
      .container
        block content

    include components/footer
