extends ../layout

block content
  .row
    .col-md-6.col-md-offset-3
      form(role='login' method='post')
        fieldset
          h2 Signup
          .form-group
            label(for='name') Name
            input(type='text' name='name' id='name' class='form-control')
          .form-group
            label(for='email') Email
            input(type='email' name='email' id='email' class='form-control')
          .form-group
            label(for='password') Password
            input(type='password' name='password' id='password' class='form-control')
          .form-group
            label(for='biography') Biography
            input(type='text' name='biography' id='biography' class='form-control')
          .row
            .col-md-4.col-md-offset-4
              button(type='submit' class='btn btn-primary btn-block') Crear usuario
